.hootie-logo{
  width: 95%;
}

.hootie-footer{
  width: 100%;
}

/*navbar*/
body {
	background: #ffffff;
	font-size:22px;
	line-height: 32px;
	color: #ffffff;
	word-wrap:break-word !important;
	font-family: 'Baloo Tamma 2', cursive;
	overflow-x: hidden;
	}

/* h1 {
	font-size: 60px;
	text-align: center;
	color: #FFF;
}	 */

/* h3 {
	font-size: 30px;
	text-align: center;
	color: #FFF;
} */

/* h3 a {
	color: #FFF;
} */

/* a {
	color: #FFF;
} */

h1 {
	/*margin-top: 100px;
	text-align:center; */
	font-size:60px;
  font-family: 'Baloo Tamma 2', cursive;
	} 

#container {
	margin: 0 auto;
}

p {
	text-align: center;
}

nav {
	margin: 0px 0px 0px 0px;
  background-color: #572A99;
  border-radius: 30px;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
  background-color:#572A99;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a.nounderline:link
{
text-decoration:none;
}

nav a:hover { 
  background-color: #EC8213; 
  color:#FFF;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:200px;
	float:none;
	display:list-item;
	position: relative;
	z-index: 999;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

/*navbar*/

/* TEMPLATE HOME */

.templateHome {
	background-image: url(./img/fondoHome.jpg);
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
}

.container-tittle-btn-home.col-xs-12.col-sm-6, .container-video-home.col-xs-12.col-sm-6 {
	margin-top: 14rem;
}

.tittlesHome {
	text-align: left;
}

.btn-home {
	width: 40%;
}
button.btn-general {
	border-radius: 20px;
	width: 100%;
	background: #572A99;
	border: none;
	color: #fff;
	padding: 5px;
  font-size: 24px;
}

/*Carrousel video*/

p.tittle-video-carrousel {
	color: black;
	margin-bottom: 0;
}

p.tittle-video-carrousel {
	color: black;
	margin-bottom: 0;
	font-size: 16px;
	line-height: initial;
	background: #64249dc4;
}

ol.carousel-indicators {
	background:#9ed9e5;
	background: #72baec;
	margin: 0px 0px 20px 0px;
}

/* TEMPLATE KIDS */

.templateKids {
	text-align: center;
}

.tittleKids{
	color: #64249d;
}

.subtittleKids{
	color: #72baec;
}

div#carouselExampleCaptions{
	margin: auto;
	width: 50%;
}

.container-pj{
background-color:#d2c3e0;
}
.characters{
	border-radius: 15px;
	width: 20em;
	margin:10px 40px 10px 80px;
}
.title{
	background-color: #a8f4ea;
	margin-bottom: 0;
	color: #a5a5a5;
}

/* FIN TEMPLATE HOME */

/* TEMPLATE QUIZ PARENTS */

button.btn-general.btnQuiz {
	margin: 25px;
	width: 70%;
}

p.txt-quiz {
	color: #572a99;
}

.container-img-quiz.col-xs-12.col-sm-4, .container-btns-quiz.col-xs-12.col-sm-4{
	text-align: center;
}


/* FIN TEMPLATE QUIZ PARENTS */

.templateParents{
	color:#000;
}

.templateParents, .card-title, .theme{
	color:#000;
}

.card{
margin-left: 20px;
}

.logo-face{
	display: flex;
  justify-content: center;
	background-color: #48BBEF;
}

.owl-icon{
	width: 70px;
	margin-top: 10px;
}

.intro{
	color:#ffffff;
	background-color: #48BBEF;
}

.text{
	display: flex;
  justify-content: center;
}

/*contact*/
.infoContact{
	background: linear-gradient(201deg, rgba(72,187,239,1) 34%, rgba(87,42,153,1) 100%);

}

.contactForm{
	font-size: 18px;
	text-align: center;
	height: 15em;
	background: linear-gradient(201deg, rgba(72,187,239,1) 34%, rgba(87,42,153,1) 100%);
}

/*contact*/





/* MEDIAQUERIES */

@media only screen and (max-width: 40em){

	/* Home */

	.templateHome {
		background-image: url(./img/fondoHome-mobile.jpg);
	}

	.container-tittle-btn-home, .container-video-home{
		
	}


}
