.hootie-logo{
  width: 95%;
}

.hootie-footer{
  width: 100%;
}

/*navbar*/
body {
	background: #ffffff;
	font-size:22px;
	line-height: 32px;
	color: #ffffff;
	word-wrap:break-word !important;
	font-family: 'Baloo Tamma 2', cursive;
	overflow-x: hidden;
	}

/* h1 {
	font-size: 60px;
	text-align: center;
	color: #FFF;
}	 */

/* h3 {
	font-size: 30px;
	text-align: center;
	color: #FFF;
} */

/* h3 a {
	color: #FFF;
} */

 a {
	color:#64259d;
} 

h1 {
	/*margin-top: 100px;
	text-align:center; */
	font-size:60px;
  font-family: 'Baloo Tamma 2', cursive;
	} 

#container {
	margin: 0 auto;
}

p {
	text-align: center;
}

nav {
	margin: 0px 0px 0px 0px;
  background-color: #D2A6E8;
  border-radius: 30px;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
  background-color:#D2A6E8;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a.nounderline:link
{
text-decoration:none;
}

nav a:hover { 
  background-color: #572A99; 
  color:#FFF;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:200px;
	float:none;
	display:list-item;
	position: relative;
	z-index: 999;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

/*navbar*/

/* TEMPLATE HOME */

.templateHome {
	background-image: url(./img/fondoHome.jpg);
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
}

.container-tittle-btn-home.col-xs-12.col-sm-6, .container-video-home.col-xs-12.col-sm-6 {
	margin-top: 14rem;
}

.tittlesHome {
	text-align: left;
}

.btn-home {
	width: 40%;
}
button.btn-general {
	border-radius: 20px;
	width: 100%;
	background: #572A99;
	border: none;
	color: #fff;
	padding: 5px;
  font-size: 24px;
}

/*Carrousel video*/

p.tittle-video-carrousel {
	color: black;
	margin-bottom: 0;
}

p.tittle-video-carrousel {
	color: black;
	margin-bottom: 0;
	font-size: 16px;
	line-height: initial;
	background: #64249dc4;
}

ol.carousel-indicators {
	background:#9ed9e5;
	background: #72baec;
	margin: 0px 0px 20px 0px;
}

/* TEMPLATE KIDS */

.body-kids{
	background-color:#FFFCA0;
}

.templateKids {
	text-align: center;
	background-color:#FFFCA0;
}

.tittleKids{
	color: #64249d;
}

.subtittleKids{
	color: #72baec;
}

div#carouselExampleCaptions{
	margin: auto;
	width: 50%;
	
}

.container-pj{
background-color:#D2A6E8;
margin-bottom: 25px;
}
.characters{
	border-radius: 15px;
	width: 20em;
	margin:10px 40px 10px 80px;
}
.title{
	background-color: #BEFFEA;
	margin-bottom: 0;
	margin-top: 30px;
	color: #525050;
}

.card-text{
	color:black;
	line-height : 40px;
}

.card-img-print{
height: 300px;
width: 200px;
}
.card-body-print{
	background-color:#D2A6E8;
}

.card, .list-group-item{
	background-color:#FFDED1;
	margin-bottom: 20px;
}

/* FIN TEMPLATE HOME */

/* TEMPLATE QUIZ PARENTS */

button.btn-general.btnQuiz {
	margin: 25px;
	width: 70%;
}

p.txt-quiz {
	color: #572a99;
}

/* FIN TEMPLATE QUIZ PARENTS */

.templateParents{
	color:#000;
}

.templateParents, .card-title, .theme{
	color:#000;
}

.card{
margin-left: 20px;
}

.logo-face{
	display: flex;
  justify-content: center;
	background-color: #BEFFEA
}

.owl-icon{
	width: 70px;
	margin-top: 10px;
}

.intro{
	color:#000;
	background-color: #BEFFEA
}

.text{
	display: flex;
  justify-content: center;
}

/*contact*/
.infoContact{
	background: #ffffff;
	margin-bottom: 0;
}

.contactForm{
	font-size: 30px;
	text-align: center;
	height: 15em;
	background: #ffffff;
	margin-top: 20px;
	color:black;
}

/*contact*/

/*quienes somos*/

#categories{
  overflow:hidden;
  width:90%;
  margin:0 auto;
}
.clr:after{
  content:"";
  display:block;
  clear:both;
}
#categories li{
  position:relative;
  list-style-type:none;
  width:27.85714285714286%; /* = (100-2.5) / 3.5 */
  padding-bottom: 32.16760145166612%; /* =  width /0.866 */
  float:left;
  overflow:hidden;
  visibility:hidden;
 
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
}
#categories li:nth-child(3n+2){
  margin:0 1%;
}
#categories li:nth-child(6n+4){
  margin-left:0.5%;
}
#categories li:nth-child(6n+4), #categories li:nth-child(6n+5), #categories li:nth-child(6n+6) {
	margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}
#categories li:nth-child(6n+4):last-child, #categories li:nth-child(6n+5):last-child, #categories li:nth-child(6n+6):last-child{
  margin-bottom:0%;
}
#categories li *{
  position:absolute;
  visibility:visible;
}
#categories li > div{
  width:100%;
  height:100%;
  text-align:center;
  color:#fff;
  overflow:hidden;
  
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  
	-webkit-backface-visibility:hidden;
  
}

/* HEX CONTENT */
#categories li img{
  left:-100%; right:-100%;
  width: auto; height:100%;
  margin:0 auto;   
}

#categories div h1, #categories div p{
  width:100%;
  padding:0 5%;
	background-color: rgba(27, 3, 36, 0.8);
  font-family: 'Baloo Tamma 2', cursive;
  
  -webkit-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
  -ms-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
  transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
}
#categories li h1{
  bottom:110%;
  font-style:italic;
  font-weight:normal;
  font-size:1.5em;
  padding-top:100%;
  padding-bottom:100%;
}
#categories li h1:after{
	content:'';
  display:block;
  position:absolute;
  bottom:-1px; left:45%;
  width:10%;
  text-align:center;
  z-index:1;
  border-bottom:2px solid #fff;
}
#categories li p{
	padding-top:50%;
	top:110%;
	padding-bottom:50%;
}


/* HOVER EFFECT  */

#categories li div:hover h1 {
  bottom:50%;
  padding-bottom:10%;
}

#categories li div:hover p{
  top:50%;
  padding-top:10%;
}
/**/

/* MEDIAQUERIES */

@media only screen and (max-width: 40em){

	/* Home */

	.templateHome {
		background-image: url(./img/fondoHome-mobile.jpg);
	}

	.container-tittle-btn-home, .container-video-home{
		
	}


}



.punk {
  font-size:6vw;
	text-align:center;
	background-color: #FFFCA0;
}

.punk span {
  display:inline-block;
  margin:0 .05em;
  padding:0 .15em;
  min-width:.25em;
}

.punk span:first-child,
.punk span:last-child {
  position:relative;
}

.punk span:first-child:before {
  content:"";
  border:solid 2px rgb(83, 77, 77);
  border-top-width:.2em;
  border-radius:.25em;
  height:.5em;
  left:-0.1em;
  position:absolute;
  top:-0.25em;
  transform:rotate(20deg);
  width:.15em;
}

.punk span:first-child:after {
  background-color:inherit;
  content:"";
  height:.15em;
  left:.05em;
  position:absolute;
  top:.05em;
  transform:rotate(20deg);
  width:.1em;
}

.punk span:last-child:before {
  content:"";
  border:solid 2px rgb(83, 77, 77);
  border-top-width:.2em;
  border-radius:.25em;
  height:.6em;
  right:-0.1em;
  position:absolute;
  top:-0.25em;
  transform:rotate(-20deg);
  width:.15em;
}

.punk span:last-child:after {
  background-color:inherit;
  content:"";
  height:.15em;
  right:.05em;
  position:absolute;
  top:.05em;
  transform:rotate(-20deg);
  width:.1em;
}

/* font */

.punk span:nth-child(5n+1) {
  font-family:serif;
  font-size:1.25em;
}

.punk span:nth-child(5n+2) {
  font-family:sans-serif;
}

.punk span:nth-child(5n+3) {
  font-family:monospace;
  font-size:1.25em;
}

.punk span:nth-child(5n+4) {
  font-family:serif;
  font-style:italic;
}

.punk span:nth-child(5n+5) {
  font-family:fantasy;
}

/* shadow */

.punk span:nth-child(4n+1) {
  box-shadow:.05em .05em currentColor;
}

/* rotate */

.punk span:nth-child(3n+1) {
  transform:rotate(5deg);
}

.punk span:nth-child(3n+3) {
  transform:rotate(-5deg);
}

/* colour schemes */

.punk span:nth-child(12n+1) {
  background-color:rgb(169, 255, 134);
  color:rgb(243, 176, 150);
}

.punk span:nth-child(12n+2) {
  background-color:rgb(252, 201, 167);
	color:rgb(207, 239, 248);
	box-shadow:.05em .05em currentColor;
}

.punk span:nth-child(12n+3) {
  background-color:rgb(211, 193, 255);
	color:rgb(79, 69, 226);
	box-shadow:.05em .05em currentColor;
}

.punk span:nth-child(12n+4) {
  background-color:rgb(240, 135, 140);
	color:#ff0;
	box-shadow:.05em .05em currentColor;
}

.punk span:nth-child(12n+6) {
  background-color:#ff0;
	color:rgb(211, 144, 184);
	box-shadow:.05em .05em currentColor;
}

.punk span:nth-child(12n+7) {
  background-color:rgb(94, 223, 62);
	color:rgb(151, 112, 167);
	box-shadow:.05em .05em currentColor;
}

.punk span:nth-child(12n+8) {
  background-color:rgb(155, 214, 241);
	color:rgb(241, 128, 128);
	box-shadow:.05em .05em currentColor;
}

.punk span:nth-child(12n+9) {
  background-color:rgb(233, 114, 185);
	color:rgb(123, 201, 221);
	box-shadow:.05em .05em currentColor;
}

.punk span:nth-child(12n+10) {
  background-color:rgb(243, 196, 125);
	color:rgb(161, 243, 202);
	box-shadow:.05em .05em currentColor;
}

